h1,
h2 {
    color: lime;
}

textarea {
    background-color: black;
    border-radius: 10px;
    border-width: 5px;
    color: lime;
}

textarea:focus,
button:hover {
    border-color: lime;
}

button {
    height: 100px;
    width: 200px;
    background-color: black;
    border-radius: 10px;
    border-width: 5px;
    font-size: 1.5em;
    color: lime;
}
