<h2>number-cruncher</h2>
<textarea rows="10" cols="50" placeholder="{{ crunchPlaceholder }}" #theText></textarea>
<br />
<h2>Total: {{ total | number: ".1-1" }}</h2>
<h2>Average: {{ average | number: ".1-1" }}</h2>
<br />
<button (click)="parse(theText.value)"><b>CRUNCH</b></button>
<button (click)="clearText()"><b>CLEAR</b></button>
<br /><br />
<button (click)="loadInput(theUrl.value)"><b>LOAD<br />URL</b></button>
<button (click)="loadPrevious()"><b>LOAD<br />PREV</b></button>
<br /><br />
<textarea rows="2" cols="40" placeholder="{{ urlPlaceholder }}" #theUrl></textarea><br />
